header {
    background-color: #03457F;
}
body{
	background: url(../images/bg5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    background-color: white;
    text-align: left;
    margin: auto;
    margin-top: 150;
    padding: 10;
}

div {
    margin-top: 10;
}

table {
    margin: auto;
    width: 90%;
}

table th{
	background-color: #084B8A;
	color: white;
}

.thumbnail {
    clear: right;
}
